nav {
    position: fixed;
}
#bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
}
button {
    position: fixed;
}
.trans {
    font-size: 3em;
    opacity: .3;
    margin: 10% auto;
}